doctype
html
    head
        meta(name="viewport", content="user-scalable=no")
        link(rel="stylesheet", href="/birthday-card/main.css")
        script(src="birthday.js")
    body
        block content